body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans';
  font-size: large;
  font-weight: bold;
  background-color: pink;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.start-button {
  padding: 15px;
  background-color: white;
  color: black;
  font-family: 'Gill Sans';
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}

.grid {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.mole-head {
  width: 146px;
  height: 126px;
  object-fit: contain;
}

.mole-hill {
  width: 420px;
  height: 100px;
  object-fit: contain;
}